spring:
  config:
        activate:
            on-profile: test
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: 12345
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    open-in-view: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format-sql: true     
  h2:
    console.enabled: true
    
---